.flex-item {
    background: tomato;
    padding: 5px;
    width: 50px;
    height: 50px;
    margin: 5px;
    flex-direction: row;
    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    display: inline-block;
  }
  .top-designers
  {
      width: 1601px;
      height: 500px;
      background: greenyellow;
  }
  .designers{
      padding: 182px 164px;
  }
  .designers h1{
      font-size: 32px;
      color: #222222;
  }